./src/frontend/node_modules
./node_modules
./src/backend/node_modules

/src/frontend/node_modules
/node_modules
/src/backend/node_modules

src/frontend/node_modules
node_modules
src/backend/node_modules

src/frontend/dist

src/backend/dist

src/backend/.env
src/frontend/.env


src/frontend/.next